cycler==0.11.0
fonttools==4.34.4
kiwisolver==1.4.4
llvmlite==0.39.1
matplotlib==3.5.2
numba==0.56.2
numpy==1.23.1
packaging==21.3
pandas==1.5.0
Pillow==9.2.0
PuLP==2.6.0
pymdptoolbox==4.0b3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
scipy==1.9.0
six==1.16.0
ujson==5.5.0
