<!DOCTYPE html>
<meta charset="utf-8">
<title>AI4SG app engine demo</title>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
</head>

<body>
    <div>
        <p>Sample application demoing app engine for AI for social good. Using public data set from `Our world in Data` at 'https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv'</p>
    </div>

    <form>
        <div>
            <label for="country-select">Pick Country</label>
            <select name="country" id="country-select">
                {% for item in dropdown -%}
                    {% if selected_country == item %}
                <option value="{{item}}" selected>{{item}}</option>
                    {% else %}
                <option value="{{item}}">{{item}}</option>
                    {% endif %}
                {%- endfor %}
            </select>
        </div>
        <div>
            <p>
                <input type="submit" value="Update Plot">
            </p>
        </div>
    </form>


    <div id="vis"></div>
    <script type="text/javascript">
        var spec = {{ json_str| safe }};

        vegaEmbed('#vis', spec).then(function (result) {
            // Access the Vega view instance (https://vega.github.io/vega/docs/api/view/) as result.view
        }).catch(console.error);
    </script>
</body>

</html>